<form method="post" action="{{ path('picture_delete', {'id': picture.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette image?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ picture.id) }}">
    <button class="btn delete-media-btn">{{ include('_utils/_trashbox.html.twig') }}</button>
</form>
