svg {
  font-size: 1rem;
}

.jumbotron-home {
  background: url("../medias/hero_background.jpg") no-repeat center;
  border: none;
  padding: 15rem 2rem;
}

.jumbotron-show {
  border: none;
  padding: 10rem 2rem;
}

.jumbotron-show h1 {
  color: white;
  font-weight: 500;
  text-shadow: 0px 0px 6px black;
}

.card-body-index {
  padding: inherit;
}

.card-title-index {
  font-size: 1.1rem;
}

.card-img-index {
  max-height: 120px;
}

.card-img-index:hover,
.img-show-trick:hover {
  filter: brightness(75%);
  cursor: pointer;
}

.img-show-trick {
  height: 200px;
  width: 300px;
  border-radius: 5px;
}

.trick-description {
  font-size: 1.2rem;
}

.comment-card {
  margin-bottom: 2rem;
}

.comment-container {
  border: solid lightgrey 1px;
  border-radius: 5px;
}

footer {
  margin-top: 2rem;
  padding: 0.5rem;
  background-color: #009ac2;
}
