<form method="post" action="{{ path('video_delete', {'id': video.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cette video?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ video.id) }}">
    <button class="btn delete-media-btn">{{ include('_utils/_trashbox.html.twig') }}</button>
</form>
