{% extends 'base.html.twig' %}

{% block title %}Modifier la Video{% endblock %}

{% block body %}
    <h1>Modifier la Video</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">Modifier</button>
    {{ form_end(form) }}
{% endblock %}
