{% extends 'base.html.twig' %}

{% block title %}Modifier la Video{% endblock %}

{% block body %}
    <h1>Modifier la Video</h1>

    {{ include('video/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
