{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page introuvable</h1>

    <p>
        La page que vous cherhez n'existe pas!
        misspelling or <a href="{{ path('trick_index') }}">Retourner à l'accueil</a>.
    </p>
{% endblock %}
