{% extends 'base.html.twig' %}

{% block title %}Trick index{% endblock %}

{% block body %}
    <header class="jumbotron jumbotron-fluid jumbotron-snow">
        <div class="container-fluid text-center"> 
            <h1 class="display-3">SnowTricks</h1>
            <p class="lead pb-4">Le site des tricks en snowboard!</p>
        </div>
    </header>
    <div class="container">
        <h1>Accueil</h1>
        <hr>

        {% for trick in tricks %}
            <div class="card" style="width:400px">
                <img class="card-img-top" src="" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">{{ trick.title }}</h4>
                    <p class="card-text">{{ trick.description }}</p>
                    <a class="btn btn-success" href="{{ path('trick_show', {'id': trick.id}) }}">Afficher</a>
                    {% if app.user %}
                        <a class="btn btn-primary" href="{{ path('trick_edit', {'id': trick.id}) }}">Modifier</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
