{% extends 'base.html.twig' %}

{% block title %}Ajouter un Trick{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter un Trick</h1>

        {{ include('trick/_form.html.twig') }}
    </div>
{% endblock %}
