{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <h1>Mot de passe oublié</h1>

    {{ form_start(form) }}
        {{ form_row(form.email, {
        'label': 'Votre adresse mail',
        'attr': {
            'placeholder': 'Entrez votre adresse mail'
        }
    }) }}
        <button type="submit" class="btn btn-success">Soumettre la demande</button>
    {{ form_end(form) }}
{% endblock %}