{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="container d-flex" style="height:100%;">
        <div class="login-container align-self-center m-auto py-2 px-4">
            <h1>Mot de passe oublié</h1>

            {{ form_start(form) }}
                {{ form_row(form.email, {
                'label': 'Votre adresse mail',
                'attr': {
                    'placeholder': 'Entrez votre adresse mail'
                }
            }) }}
                <button type="submit" class="btn btn-success">Soumettre la demande</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}