{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialiser votre mot de passe</h1>

    {{ form_start(form) }}
        {{ form_row(form.password, {
        'label': 'Votre nouveau mot de passe',
        'attr': { 'placeholder': 'Nouveau mot de passe' }
            }) 
        }}
        {{ form_row(form.confirmPassword, {
        'label': 'Confirmez votre nouveau mot de passe',
        'attr': { 'placeholder': 'Confirmation nouveau mot de passe' }
            }) 
        }}
        <button type="submit" class="btn btn-success">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}